/* styles/global.css */

/* Reset styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right, rgb(11, 86, 131), rgb(21, 145, 148),rgb(11, 86, 131));
  color: #333;
  line-height: 1.6;
  background-size: cover;
 
}

.container header{
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
  
} 

.header {
  text-align: center;
  margin-bottom: 20px;
}

.task {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.task-list {
  list-style-type: none;
  padding: 0;
}
.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.task.completed {
  background: #cdcdcd;
}

.task h3 {
  margin: 0;
}

.task p {
  margin: 0;
  font-size: 0.8rem;
  color: #888;
}

.btn {
  cursor: pointer;
  background: #27ae60;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.btn:hover {
  background: #555;
}

.add-form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.add-form .form-control {
  margin-bottom: 15px;
}

.add-form label {
  font-weight: bold;
}

.add-form input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-form .btn-block {
  width: 100%;
}

.complete-btn,
.edit-btn,
.delete-btn {
  cursor: pointer;
  background: #333;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.complete-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  background: #555;
}

.complete-btn {
  background-color: #3498db; 
}

.edit-btn {
  background-color: #27ae60; 
}

.delete-btn {
  background-color: #e74c3c; 
}

.task > div:last-child {
  display: flex;
  align-items: center;
}

.task > div:last-child button {
  margin-left: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; 
}

select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Container */

.container {
  width: 600px;
  margin: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: absolute;
  left: 500px; 
}

.task input[type="text"],
.task input[type="datetime-local"] {
  width: 100%;
  padding: 8px; 
  margin-bottom: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

.task input[type="text"]:focus,
.task input[type="datetime-local"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}